# Python3 Tutorial

## Variables and  Data Structures

#### Sequence Type                                                           
    1. string              
    2. List                
    3. Tuple
    4. Set

#### Number
    1. Integer
    2. Float
    3. Complex
    
#### Boolean 
    1. True
    2. False

#### Dictionary (key, value)

# string

In [1]:
message = "Hello Python world!" 
print(message)

Hello Python world!

In [2]:
#variable sensitive to the lowercase and uppercase 
print(Message)

NameError: name 'Message' is not defined

#### Case Styles
    1. camelCase
    2. snake_case

In [1]:
#1 
userLoginCount = "camelCase"

#2 
user_login_count = "snake_case"
USER_LOGIN_COUNT = "AllCaps"

In [1]:
first_name = "milad"
last_name = "farzalizadeh"

full_name = f"My name is {first_name} {last_name}" 
full_name_2 = "My name is {0} {1} ".format(first_name, last_name)

print(full_name.title() , " | " , full_name_2.title())

My Name Is Milad Farzalizadeh  |  My Name Is Milad Farzalizadeh Milad

# Number 
    
    add (+), subtract (-), multiply (*), and divide (/), power (**) , Modulo (%)

In [13]:
a = 10 # a = 10.5
b = 5 # b = 6.5
add = a + b 
sub = a - b 
mul = a * b 
div = a / b 
pow = a ** b 
a += 1 # a = a + 1
b *= 3 # b = b * 3

print("\n") # newline characters as part of the output on terminal
print("Result of the operation !")
print("add: {}, subtract: {}, multiply: {}, divide: {}, power: {}".format(add,sub,mul,div,pow))
print("a: {}, b: {}".format(a,b))

Result of the operation !
add: 15, subtract: 5, multiply: 50, divide: 2.0, power: 100000
a: 11, b: 15

In [12]:
# Notice
a = 10.5 #float
b = 3 # int 
c = 5 #int
print(a * b * c) # output float type

157.5

In [15]:
# Multiple Assignment  
a, b, c = 10.5, 3, 5

In [193]:
# Constant
# name of the variable all capital letters
PI = 3.14 
GRAVITY = 9.8

# Boolean

In [17]:
#Notice that 'T' and 'F' are capital.

t = True 
f = False

print(t and f) # Logical AND; prints "False"
print(t or f)  # Logical OR; prints "True"
print(not t)   # Logical NOT; prints "False"
print(t != f)  # Logical XOR; prints "True"

False
True
False
True

# List

In [1]:
#List A list object is collection of one or more data items
py_list = ['ali', 'moradi','zanjan', 1630229131, True]

#Accessing Elements in a List - Index Positions Start at 0

print(f"First Item: {py_list[0]}")
print(f"Last Item: {py_list[-1]}")

#slice
print(f"Name: {py_list[0:2]}") 

# py_list [start:stop] items start through stop-1
# py_list [start:] items start through the rest of the array
# py_list [:stop] items from the beginning through stop-1
# py_list [:] the whole list
py_list

First Item: ali
Last Item: True
Name: ['ali', 'moradi']

['ali', 'moradi', 'zanjan', 1630229131, True]

In [4]:
# list is mutable 
# update value item 
py_list[0] = "reza"

# Adding Elements to a List 
py_list.append(["student",'97464120']) # add the new element ["student",'97464120'] to the end of the list


# Inserting new element any position in list 
py_list.insert(2,25) # age is 25 



# Removing Elements from a List
del py_list[5]

#del py_list delete whole list 

# py_list.pop() = remove end of list 
# py_list.pop(index) 
# py_list.remove('True')

print(py_list)

['reza', 'moradi', 25, 'zanjan', 1630229131, ['student', '2']]

In [4]:
city_index = py_list.index('zanjan')
length_list = len(py_list)

print(f'city index: {city_index}, length of list: {length_list}')

city index: 3, length of list: 6

In [14]:
py_list[6]

IndexError: list index out of range

In [16]:
li = ["list",True,1,2,[3.2,4.3],5,(6,7),{"name":"milad"}]
li

['list', True, 1, 2, [3.2, 4.3], 5, (6, 7), {'name': 'milad'}]

In [18]:
# Nested List
li[4][1]

4.3

## اطلاعات تکمیلی   

    ()append: یک عنصر را به انتهای لیست اضافه می‌کند.
    ()extend: همه عناصر لیست را به لیست دیگری اضافه می‌کند.
    ()insert: یک عنصر را در اندیس تعریف شده درج می‌کند.
    ()remove: یک عنصر را از لیست حذف می‌کند.
    ()pop: یک عنصر را در اندیس داده شده حذف می‌کند و مقدار آن را باز می‌گرداند.
    ()clear: همه عناصر را از لیست حذف می‌کند.
    ()index: اندیس اولین عنصر مطابق با آرگومان متد را باز می‌گرداند.
    ()count: تعداد عناصری که مطابق با آرگومان داده شده به متد هستند را باز می‌گرداند.
    ()sort: عناصر موجود در لیست را به ترتیب صعودی مرتب می‌کند.
    ()reverse: ترتیب عناصر موجود در لیست را معکوس می‌کند.
    ()copy: یک Shallow Copy از لیست را باز می‌گرداند.
    
    ----------------------------------------------------------
    
    ()all: اگر همه مقادیر موجود در لیست true باشند (و یا لیست خالی باشد)، مقدار True را باز می‌گرداند.
    ()any: در صورتی که هر عنصری از لیست true باشد، مقدار True را باز می‌گرداند.
    ()enumerate: یک شی شمارشی را باز می‌گرداند. شامل اندیس و مقدار همه عناصر یک لیست به صورت یک «تاپل» (tuple) است.
    ()len: طول لیست (تعداد عناصر لیست) را باز می‌گرداند.
    ()list: یک نوع تکرار شونده (تاپل، رشته، مجموعه یا دیکشنری) را به لیست تبدیل می‌کند.
    ()max: بزرگترین عنصر لیست را باز می‌گرداند.
    ()min: کوچکترین عنصر لیست را باز می‌گرداند.
    ()sorted: یک لیست مرتب شده جدید را باز می‌گرداند (خود لیست را مرتب نمی‌کند).
    ()sum: مجموع همه عناصر موجود در لیست را باز می‌گرداند.

## Tuple

In [5]:
# Tuples are identical to lists in all respects
# 1) Tuple is immutable but List is Mutable, 2) () instead of square brackets [].
# Concat tuple and delete tuple 
tup = ('reze','moradi',1630229131)
tup

('reze', 'moradi', 1630229131)

In [20]:
tup[0] = "milad"

TypeError: 'tuple' object does not support item assignment

In [24]:
type(tup)

tuple

In [27]:
# Type Conversion
conv_list = list(tup)
conv_str = str(tup)
# int(5.4), float(5) tuple(li)
print(f"Convert Tuple to List: {conv_list}, and string: {conv_str}")

Convert Tuple to List: ['reze', 'moradi', 1630229131], and string: ('reze', 'moradi', 1630229131)

#### Read More: https://realpython.com/python-lists-tuples/

# Dictionary 
    d = {
    <key> : <value>,
    <key> : <value>,
    }
  
You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:

    Notice: value can get 'str', 'int', 'bool', 'tuple', 'list', 'dic'

In [7]:
py_dic = {
    'first_name' : 'reza',
    'last_name' : 'moradi',
    'age' : 25,
    'national_code' : 1630229131,
    'city' : 'zanjan',
    
}

# onstruct a dictionary with the built-in dict() function
# dict()

In [29]:
py_dic

{'first_name': 'reza',
 'last_name': 'moradi',
 'age': 25,
 'national_code': 1630229131,
 'city': 'zanjan'}

In [20]:
py_dic[0]

KeyError: 0

In [30]:
# get value in dic
# py_dic.get('age') # Returns the value for a key if it exists in the dictionary.

py_dic['first_name'] # key ---> value

'reza'

In [31]:
# update value 
py_dic['first_name'] = 'milad' # update existing entry

py_dic['phone_number'] = 123456789 # Add new entry

py_dic

{'first_name': 'milad',
 'last_name': 'moradi',
 'age': 25,
 'national_code': 1630229131,
 'city': 'zanjan',
 'phone_number': 123456789}

In [32]:
# delete key of dictionary
del py_dic['phone_number'] 
# del py_dic & py_dic.clear()
py_dic

{'first_name': 'milad',
 'last_name': 'moradi',
 'age': 25,
 'national_code': 1630229131,
 'city': 'zanjan'}

In [24]:
# in and not in operation
age = 'age' in py_dic.keys()  # dict_keys(['first_name', 'last_name', 'age', 'national_code', 'city'])
name = 'milad' not in py_dic.values() #dict_values(['milad', 'moradi', 25, 1630229131, 'zanjan', 123456789])

print(f'age: {age}, name: {name}')

age: True, name: False

In [8]:
#py_dic. shift  + tab
#py_dic.  tab

py_dic.

In [33]:
py_dic.update([('age',26), ('phone_number',123456789)])

In [34]:
py_dic

{'first_name': 'milad',
 'last_name': 'moradi',
 'age': 26,
 'national_code': 1630229131,
 'city': 'zanjan',
 'phone_number': 123456789}

In [35]:
items = py_dic.items() #Returns a list of key-value pairs in a dictionary.

print(items)

dict_items([('first_name', 'milad'), ('last_name', 'moradi'), ('age', 26), ('national_code', 1630229131), ('city', 'zanjan'), ('phone_number', 123456789)])
26

#### Read more: https://realpython.com/python-dicts/

# sets

    Set elements are unique

In [27]:
s = [1,2,1,3,6,9,2,3,4,5,6,4,1,1,1,2,5,6,7,1]
len_s1 = len(s)

s = set(s)
len_s2 = len(s)
print(s)
print(f'len s1: {len_s1}, len s2: {len_s2}')

{1, 2, 3, 4, 5, 6, 7, 9}
len s1: 20, len s2: 8

#### read more: https://realpython.com/python-sets/

## Working With Lists, Dictionary

In [33]:
# py_list --> ['reza', 'moradi', 25, 'zanjan', 1630229131, 'student']
for item in py_list:
    print(item)

reza
moradi
25
zanjan
1630229131
student

In [45]:
# enumerate(py_list) --> [(0, 'reza'), (1, 'moradi'), (2, 25), (3, 'zanjan'), (4, 1630229131), (5, 'student')]

a, b = (1,2) #Tuple Unpacking
for index, item in enumerate(py_list, 1):
    print(f'index: {index}, item: {item}')

index: 1, item: ali
index: 2, item: moradi
index: 3, item: zanjan
index: 4, item: 1630229131
index: 5, item: True

In [48]:
py_list2 = [str(i) for i in py_list] 

while True: # while i <=10: 
    input_data = input("Please Enter input :")
    if input_data == 'exit': # == >= =< !=  > <  ----> True or False
        break
        
    elif input_data in py_list2:
        py_list2.remove(input_data)
        print(f'{input_data} remove list!')
        print(py_list2)
        
    elif input_data not in py_list2 :
        print(f"The input {input_data} is not to List!!")
        
    else:
        pass
print("exit to program ...")

Please Enter input :zanjan
zanjan remove list!
['ali', 'moradi', '1630229131', 'True']
Please Enter input :reza
The input reza is not to List!!
Please Enter input :ali
ali remove list!
['moradi', '1630229131', 'True']
Please Enter input :exit
exit to program ...

In [45]:
#the continue statement tells Python to ignore the rest of the loop and return to the beginning
current_number = 0
while current_number < 10:
    
    current_number += 1
    if current_number % 2 == 0:
        continue     
    print(current_number)

1
3
5
7
9

In [46]:
# dict_items([('first_name', 'milad'), ('last_name', 'moradi'), ('age', 26), ('national_code', 1630229131),
           # ('city', 'zanjan'), ('phone_number', 123456789)])
    
for key, value in py_dic.items(): 
    print(f'{key}: {value}')

first_name: milad
last_name: moradi
age: 26
national_code: 1630229131
city: zanjan
phone_number: 123456789

In [50]:
for val in py_dic.values():
    print(val)

milad
moradi
26
1630229131
zanjan
123456789

# Functions
    def <function_name>([<parameters>]):
        <statement(s)>

In [9]:
def product(item, price, num=0, rate=None):
    #multiline docstring
    """
        This function displays store products.
        product(item, price, num=0, rate=None)
    
    """
    prod = f'Product name: {item} , Cost ${price:.2f}, Number {num} '
    return prod

In [10]:
print(product(item='bag', price=20, num=10)) # recommanded
print(product('pen', 5))

Product name: bag , Cost $20.00, Number 10
Product name: pen , Cost $5.00, Number 0

In [11]:
def score(sud_id):

    score = open('score.txt', 'r') # import pandas ---> pandas.read_excel()
    scr = score.readlines() 
    #['reza moradi 97464120 machinelearnin 9\n', ] eche item ---> line text 
    for s in range(len(scr)):
        scr = scr[s].split()
        #['reza', 'moradi', '97464120', 'machinelearnin', '9']
        if sud_id == scr[2]:
            return f'{scr[0].title()}. {scr[1].title()}, Machine Learnin Course, Score: {scr[4]}'
        else:
            return f'The student id {sud_id} not exist! '
                       

sud_id = input("Please Enter Sudent ID: ")
print(score(sud_id))

Please Enter Sudent ID: 97464120
Reza. Moradi, Machine Learnin Course, Score: 12

#### PEP 8   https://www.python.org/dev/peps/pep-0008/

# Object Oriented - Class

<img src="Screenshot from 2020-03-22 23-55-14.png" width=500>

In [12]:
# 2

class Person:
    """
    This class defines attribute Humans
    
    """
    def __init__(self, name, age, height, weight): # __init__() ---> Constructor
        self.name = name
        self.age = age 
        self.height = height
        self.weight = weight 
    
ali = Person(name = 'Ali', age=17, height=170, weight=65)
javad = Person(name ='Javad', age=27, height= 163, weight=79)

In [10]:
import uuid 

class Person:
    
    count = 0
    def __init__(self, name, age, height, weight):
        self.name = name
        self.age = age
        self.height = height
        self.weight = weight
        Person.count += 1
    
    def get_id(self):
        id = uuid.uuid1()
        return "name: " + self.name + " | id: " + str(id) 
        

ali = Person(name='Ali', age=17, height=170, weight=65)
javad = Person(name ='Javad', age=27, height= 163, weight=79)

In [12]:
ali.get_id()

'name: Ali | id: 5a9fc212-2993-11eb-943d-34e6ad4c4591'

In [15]:
print("Human Count: ",Person.count)

Human Count:  2

In [13]:
class Student(Person):
    
    count = 0
    def __init__(self, name, age, height, weight, stdID, uni, field):
        super().__init__(name, age, height, weight)
        self.stdID = stdID
        self.uni = uni 
        self.field = field 
        Student.count += 1 
         
    def get_info_student(self):
        return f'The Name is {self.name}, SudentID: {str(self.stdID)} , university: {self.uni}, Field: {self.field}'

In [14]:
milad = Student('milad',25,170,70,stdID=97464120,uni='zanjan',field='Software enginner')
milad1 = Student('milad',25,170,70,stdID=97464120,uni='zanjan',field='Software enginner')
milad2 = Student('milad',25,170,70,stdID=97464120,uni='zanjan',field='Software enginner')
milad3 = Student('milad',25,170,70,stdID=97464120,uni='zanjan',field='Software enginner')
milad4 = Student('milad',25,170,70,stdID=97464120,uni='zanjan',field='Software enginner')

In [15]:
milad.get_info_student()

'The Name is milad, SudentID: 97464120 , university: zanjan, Field: Software enginner'

In [17]:
milad.get_id()

'name: milad | id: 8c3da384-2993-11eb-943d-34e6ad4c4591'

In [20]:
print("Student Count: ", Student.count)

Student Count:  5

## File and Try Except

In [81]:
with open('score.txt','r') as f1:
    f1.readlines()
#automatically closed and free up any system resources used

In [82]:
f1.closed

True

In [85]:
f2 = open('score.txt', 'r')
f2.readlines()
#f2.close()

In [86]:
f2.closed

True

In [57]:
print(5/0)

ZeroDivisionError: division by zero

In [23]:
try:
    print(5/0)
    a = 1
    
except ZeroDivisionError:
    print("You can't divide by zero!")
print(a)

You can't divide by zero!

NameError: name 'a' is not defined